* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
Como referencias de colores
$color_principal: #d597eb;
$color_secundario: #5b51ca;
$color_terciario: #061841;
#110322 - para fondo
#ad81bd - lila más mate

$fafafa: #fafafa;
**/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color:#110322 ;
    font-size: 1.125rem;
    font-family: "Montserrat", sans-serif;
}

form{
    color: #fafafa
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
}

h1 {
    text-decoration: underline;
     

}

h2{
    text-decoration:underline dotted;
    margin-left: 50px;
}

h1,
p {
    margin-bottom: 1em;
    margin-top: 0.75em;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #fafafa;
    margin-right:60px;
    margin-left: 60px;
    margin-top: 15px;
}

a {
    text-decoration: none;
    color: #fafafa;
    font-weight: 500;
}

a,
button {
    border: 2px solid #061841;
    border-radius:16px;  
   
}

a, button, li {
    padding: 5px;
    margin: 4px, 8px;
    color:hsl(267, 64%, 7%)
}
nav {
    padding: 0 40px;
    background-color: #d597eb;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}


footer {
        padding-top: 1%;
        margin: 15px;
        border-top: 2px solid #5b51ca;
        font-style: italic;
        display:flex;
        flex-flow: column;
        justify-items: center;
        align-items: center;
               
}


.navbar-brand {
border:0;
}

.container {
    position:relative;
    width: 75%;

}

.image{
    opacity: 1;
    display: block;
    backface-visibility: hidden;
    width: 50%;
    height: auto;
    transition: .5s ease;
    margin: 20px;

}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #5b51ca;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  article> h4{
    padding: 10px;

  }

@keyframes cambiarcolor {

    from{ background-color: #5b51ca;}
    to{ background-color: #061841;}
}
  .articulo-especial h4:hover {
 animation: cambiarcolor 700ms, infinite;
  }

  article div a{
    padding: 10px;
    color:#d597eb;
  }

  .tabla-contenido{
    margin: 15px, 60px;
    color: #d597eb;
  }

  .formulario{   
   margin: 60px;
   padding: 15px;
}

.grid-item{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #5b51ca;
    border-radius: 4px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(250px, auto);
    gap: 10px;

}

@media (min-width: 600px)
{

.wide{
    grid-column: span 2;
}

.tall{
    grid-row: span2;
}
}