* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
Como referencias de colores
$color_principal: #d597eb;
$color_secundario: #5b51ca;
$color_terciario: #061841;
$fafafa: #fafafa;
**/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
    background-color: #fafafa;
    font-size: 1.125rem;
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
    color: #061841;
}

h1 {
    text-decoration: underline;
}

h1,
p {
    margin-bottom: 1em;
    margin-top: 0.75em;
}

p {
    font-family: "Montserrat", sans-serif;
    color: #061841;
}

a {
    text-decoration: none;
    color: #061841;
    font-weight: 500;
}

a,
button {
    border: 2px solid #061841;
    border-radius: 16px;
}

nav {
    padding: 0 40px;
    background-color: #d597eb;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    
}


footer {
        padding-top: 1%;
        border-top: 2px solid #5b51ca;
        font-style: italic;
}

.navbar-brand {
border:0;
}